In [14]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules

In [15]:
df = pd.read_csv("basket.csv")

df.describe()
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14963 entries, 0 to 14962
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       14963 non-null  object
 1   1       14963 non-null  object
 2   2       4883 non-null   object
 3   3       2185 non-null   object
 4   4       795 non-null    object
 5   5       451 non-null    object
 6   6       276 non-null    object
 7   7       196 non-null    object
 8   8       51 non-null     object
 9   9       1 non-null      object
 10  10      1 non-null      object
dtypes: object(11)
memory usage: 1.3+ MB

,0,1,2,3,4,5,6,7,8,9,10
0,whole milk,pastry,salty snack,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sausage,whole milk,semi-finished bread,yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,soda,pickled vegetables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,canned beer,misc. beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,sausage,hygiene articles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.isnull().sum()

0         0
1         0
2     10080
3     12778
4     14168
5     14512
6     14687
7     14767
8     14912
9     14962
10    14962
dtype: int64

In [17]:
df.fillna('',inplace=True)

In [18]:
df_dum = pd.get_dummies(df)
df_dum.head()

,0_Instant food products,0_UHT-milk,0_abrasive cleaner,0_artif. sweetener,0_baby cosmetics,0_bags,0_baking powder,0_bathroom cleaner,0_beef,0_berries,...,8_soups,8_sugar,8_syrup,8_whipped/sour cream,8_white bread,8_whole milk,9_,9_curd,10_,10_newspapers
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False

In [19]:
frequent_items = apriori(df_dum,min_support=0.01,
                         use_colnames=True)
frequent_items

        support                                           itemsets
0      0.024527                                           (0_beef)
1      0.010827                                        (0_berries)
2      0.016040                                   (0_bottled beer)
3      0.019849                                  (0_bottled water)
4      0.010158                                    (0_brown bread)
...         ...                                                ...
22650  0.017510  (3_, 7_, 2_, 5_, 8_, 6_, 4_, 9_, 1_shopping ba...
22651  0.027401      (1_soda, 3_, 7_, 2_, 5_, 8_, 6_, 4_, 9_, 10_)
22652  0.015639  (3_, 7_, 2_, 1_whipped/sour cream, 5_, 8_, 6_,...
22653  0.040767  (3_, 7_, 2_, 1_whole milk, 5_, 8_, 6_, 4_, 9_,...
22654  0.026599    (3_, 7_, 2_, 1_yogurt, 5_, 8_, 6_, 4_, 9_, 10_)

[22655 rows x 2 columns]

In [21]:
rules = association_rules(frequent_items,metric='confidence',
                          min_threshold=0.01)
rules = rules.sort_values(['support','confidence'],ascending=[False,False])

In [22]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
1024,(9_),(10_),0.999933,0.999933,0.999933,1.000000,1.000067,1.0,6.682705e-05,inf,1.000000,1.000000,1.000000e+00,1.000000
1025,(10_),(9_),0.999933,0.999933,0.999933,1.000000,1.000067,1.0,6.682705e-05,inf,1.000000,1.000000,1.000000e+00,1.000000
1020,(8_),(9_),0.996592,0.999933,0.996592,1.000000,1.000067,1.0,6.660373e-05,inf,0.019608,0.996658,1.000000e+00,0.998329
1022,(8_),(10_),0.996592,0.999933,0.996592,1.000000,1.000067,1.0,6.660373e-05,inf,0.019608,0.996658,1.000000e+00,0.998329
12222,"(8_, 9_)",(10_),0.996592,0.999933,0.996592,1.000000,1.000067,1.0,6.660373e-05,inf,0.019608,0.996658,1.000000e+00,0.998329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1384214,(9_),"(0_hamburger meat, 7_, 2_, 5_, 8_, 6_, 4_, 10_)",0.999933,0.010025,0.010025,0.010025,1.000067,1.0,6.699678e-07,1.000001,1.000000,0.010025,6.767973e-07,0.505013
1384215,(10_),"(0_hamburger meat, 7_, 2_, 5_, 8_, 6_, 4_, 9_)",0.999933,0.010025,0.010025,0.010025,1.000067,1.0,6.699678e-07,1.000001,1.000000,0.010025,6.767973e-07,0.505013
1529569,"(9_, 10_)","(3_, 7_, 2_, 5_, 8_, 6_, 4_, 0_hamburger meat)",0.999933,0.010025,0.010025,0.010025,1.000067,1.0,6.699678e-07,1.000001,1.000000,0.010025,6.767973e-07,0.505013
1529578,(9_),"(3_, 0_hamburger meat, 7_, 2_, 5_, 8_, 6_, 4_,...",0.999933,0.010025,0.010025,0.010025,1.000067,1.0,6.699678e-07,1.000001,1.000000,0.010025,6.767973e-07,0.505013
1529579,(10_),"(3_, 0_hamburger meat, 7_, 2_, 5_, 8_, 6_, 4_,...",0.999933,0.010025,0.010025,0.010025,1.000067,1.0,6.699678e-07,1.000001,1.000000,0.010025,6.767973e-07,0.505013